# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  MASS,
  boot,
  parallel,
  reshape2,
  plyr
)

importFrom("fields", "image.plot")

importFrom("RhpcBLASctl", "blas_set_num_threads", "omp_set_num_threads")

importFrom("stats", "median", "predict", "rbinom", "rnorm", "runif",
             "sd", "var")
