# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
importFrom("boot", "inv.logit")

importFrom("fields", "image.plot")

importFrom("MASS", "ginv", "lda")

importFrom("parallel", "mclapply")

importFrom("plyr", "ddply")

importFrom("reshape2", "melt")

importFrom("RhpcBLASctl", "blas_set_num_threads", "omp_set_num_threads")

importFrom("stats", "median", "predict", "rbinom", "rnorm", "runif",
             "sd", "var")

importFrom("utils", "tail")
